* {
    background-color: rgb(253, 215, 184);
}

button,
h1,
h2 {
    font-family:'Times New Roman', Times, serif;
}

button,
h1,
li {
    color: rgb(221, 152, 96);
}

button {
    font-size: 20px;
    background-color: rgb(71, 124, 71);
    font-weight: bold;
}

h1 {
    font-size: 60px;
    text-align: center;
    background-color: rgb(71, 124, 71);
}

img {
    height: auto;
    width: 600px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color:rgb(71, 124, 71);
    background-color:rgb(221, 152, 96)
}